@use "../../base/breakpoints" as *;
@use "../../base/variables" as *;

.resume {
  &__return {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      margin: 64px 0 32px;
      gap: 8px;
      font: $bold 18px/20px $Lato;
      letter-spacing: 0.4px;
      text-decoration: none;
      color: #4f4fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 40px;
    font: $bold 32px/40px $Lato;
    letter-spacing: -0.6px;
    text-align: center;
    color: $text-secondary;

    @include tablet {
      margin-bottom: 48px;
      font-size: 40px;
      line-height: 48px;
      text-align: start;
    }
  }

  &__resume {
    padding: 24px 32px;
    border-radius: 24px;
    background: $white-color;
    box-shadow: 0px 1px 24px 0px #aeacf340;
    color: $text-secondary;

    &__name {
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 1px solid #d7dbf5;

      &__description {
        margin-bottom: 8px;
        font: $black 10px/16px $Lato;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }

      &__user {
        display: flex;
        gap: 12px;

        > p {
          font: $bold 20px/28px $Lato;
          letter-spacing: -0.2px;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      gap: 4px;
      color: $text-secondary;

      &__title {
        font: $bold 16px/24px $Lato;
        letter-spacing: 0.2px;
      }

      &__description {
        font: $regular 14px/24px $Lato;
        letter-spacing: 0.1px;
      }
    }
  }
}
