$pathFonts: "/fonts/";
$BRSonoma: "BRSonoma";
$Lato: "Lato";

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;

$breakpoint-tablet: 640px;
$breakpoint-desktop: 1024px;

$text-primary: #03050f;
$text-secondary: #141938;
$text-tertiary: #7981b2;
$error-color: #ff1744;
$white-color: #fff;
